.place{
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    grid-template-rows: 1fr;
    gap: 48px 40px;
    padding: 0;
}

@media (max-width: 1023px){
    .place{
        gap: 40px 30px;
    }
  }
  @media (max-width: 767px){
    .place{
        grid-template-columns: 1fr;
        gap: 10px 10px;
    }
  }
