.studia__strelka{
    width: 60px;
    height: 60px;
}

@media (max-width: 1023px){
    .studia__strelka{
        width: 30px;
        height: 30px;
    }
  }

  @media (max-width: 767px){
    .studia__strelka{
        width: 20px;
        height: 20px;
    }
  }