.place__img{
    width: 460px;
    height: 460px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1023px){
    .place__img{
        width: 200px;
        height: 260px;
    }
  }

  @media (max-width: 767px){
    .place__img{
        width: 100%;
    }
  }